students.dtd

<!ELEMENT students (student+)>

<!ELEMENT student (name, dob, email, address?, course+, marks)>
<!ATTLIST student
  rollno ID #REQUIRED
  gender (Male|Female|Other) #REQUIRED
>

<!ELEMENT name (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (#PCDATA)>

<!ELEMENT course (#PCDATA)>
<!ATTLIST course code (CS101|MA101|PH101|EE101) #REQUIRED>

<!ELEMENT marks (total, grade)>
<!ELEMENT total (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
